---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Custom Colors for Fun!
.bg-blue-gray {
    background-color: #bccbde;
}

.bg-blue-light {
    background-color: #c2dde6;
}

.bg-off-white {
    background-color: #e6e9f0;
}

.bg-purple {
    background-color: #431c5d;
}

.bg-orange {
    background-color: #e05915;
}

.bg-yellow {
    background-color: #cdd422;
}

.rotate-1 {
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
}

.webfont {
    font-family: 'Oswald', sans-serif;
}

.webfont-700 {
    font-weight: 700;
}

.webfont-400 {
    font-weight: 400;
}

.webfont-300 {
    font-weight: 300;
}

.heading-large {
    font-size: 3em;
}
