<header class="">

<meta http-equiv="refresh" content="30" >

    <div class="container">
        <div class="clearfix p2 center">
            <a class="bold heading-large black" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
    </div>
</div>

</header>
<ul class="full-width center mt2">
    {% if site.projects != empty %}
    <li class="btn button-narrow"><a href="#projects" class="fuschia">Projects</a></li>
    {% endif %}
    <li class="btn button-narrow"><a href="#writing" class="green underline">Writing</a></li>
    <li class="btn button-narrow"><a href="#about" class="maroon">About</a></li>
    <li class="btn button-narrow"><a href="https://www.etsy.com/shop/InternetClubhouse" class="orange underline">Shop &DDotrahd;</a></li>
</ul>
